# Binaries
*.exe
*.out
*.dll
*.so
*.dylib

# Build artifacts
/bin/
/obj/
*.a
*.o

# Go modules
vendor/
go.sum

# IDE & editor files
.vscode/
.idea/
*.swp

# Logs & Debugging files
*.log
debug/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.*  # Jika ada variasi lain seperti .env.staging